div#fortessa-software {
    margin-right: 12em;
}

.software-logo {
    max-height: 100px;
    margin: 0 2em;
}

img.img-responsive.site-image {
    height: 275px;
    width: 400px;
}


img.img-responsive.profile-image {
    border-radius: 50%;
}


img.ski-lift-app-desktop-image {
    height: 800px;

}

img.ski-lift-app-iphone-image {
    z-index: 1000;
    height: 700px;

}
