@media(min-width:320px){
    body#page-top {
    width: 100%;
}

img.ski-lift-app-desktop-image {
    width:80%;
    height:150px;
    padding:0 .5em;
    margin-right:13em;
    margin-top: 5em;
}
img.lego-builder-desktop-image {
    width:80%;
    height:150px;
    padding:0 .5em;
    margin-right:13em;
    margin-top: 0em;
}
img.fortessa-app-desktop-image {
    width:80%;
    height:150px;
    padding:0 .5em;
    margin-right: -11em;
    margin-top: -1em;
}
img.fortessa-app-desktop-image {
    width:80%;
    height:150px;
    padding:0 .5em;
    margin-right: -5em;
    margin-top: -1em;
}

img.pestman-desktop-image.active {
     width:80%;
     height:150px;
     padding:0 .5em;
     margin-right: 6em;
     margin-top: -1em;
     margin-bottom: 14em;
}

.ski-lift-app-div {
    height: 350px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
div#ski-lift-software {
    display: inline-block;
    margin-right: 4em;
    margin-top: -5.5em;
}
div#lego-builder-software {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.5em;
}

img.software-logo {
    display: inline-block;
    height:25px;
    margin:0 .4em;
}

p.ski-lift-app-description {
    font-size: 15px;
    margin: 0;
    float: none;
    width:60%;
    margin-left: 1.5em;
    margin-bottom: 2em;
}

p.lego-builder-app-description {
     font-size: 15px;
     margin: 0;
     float: none;
     width:60%;
     margin-left: 1.5em;
     margin-bottom: 2em;
     margin-top: 1em;
}

h5#ski-search-title {margin-right: 7em;margin-top: 5em;margin-bottom: 0em;}

div#pestman-software {
    margin-top: -12em;
}

}
