.profile-image img {
    max-height: 420px;
    width: auto;
    display:block;
    margin:auto;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#portfolio img {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

#portfolio p {
    max-width: 500px;
    margin: 0 auto 30px;
}

img {
    height: auto;
    width: 100%;
}

img.software-logo {
    display: inline-block !important;
    height: 50px;
    width: auto;
    margin-right: 20px !important;
}

body h1,h2,h3,h4,h5, p, form{
  text-align:center;
}

.intro-text {
    text-align: center;
}


.software {
    text-align:center;
}
